<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.puzzlegame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/pintu"
        android:label="简易拼图"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".JieShaoActivity"></activity>
        <activity android:name=".View.View1Activity" />
        <activity android:name=".View.View2Activity" />
        <activity android:name=".View.View3Activity" />
        <activity android:name=".View.View4Activity" />
        <activity android:name=".View.View5Activity" />
        <activity android:name=".View.View6Activity" />
        <activity android:name=".View.View7Activity" />
        <activity android:name=".View.View8Activity" />
        <activity android:name=".View.View9Activity" />
        <activity android:name=".View.View10Activity" />
        <activity android:name=".View.View11Activity" />
        <activity android:name=".View.View12Activity" />
        <activity android:name=".View.ViewM1Activity" />
        <activity android:name=".View.ViewM2Activity" />
        <activity android:name=".View.ViewM3Activity" />
        <activity android:name=".View.ViewM4Activity" />
        <activity android:name=".View.ViewM5Activity" />
        <activity android:name=".View.ViewM6Activity" />
        <activity android:name=".View.ViewM7Activity" />
        <activity android:name=".View.ViewM8Activity" />
        <activity android:name=".View.ViewM9Activity" />
        <activity android:name=".View.ViewM10Activity" />
        <activity android:name=".View.ViewM11Activity" />
        <activity android:name=".View.ViewM12Activity" />
        <activity android:name=".View.ViewH1Activity" />
        <activity android:name=".View.ViewH2Activity" />
        <activity android:name=".View.ViewH3Activity" />
        <activity android:name=".View.ViewH4Activity" />
        <activity android:name=".View.ViewH5Activity" />
        <activity android:name=".View.ViewH6Activity" />
        <activity android:name=".View.ViewH7Activity" />
        <activity android:name=".View.ViewH8Activity" />
        <activity android:name=".View.ViewH9Activity" />
        <activity android:name=".View.ViewH10Activity" />
        <activity android:name=".View.ViewH11Activity" />
        <activity android:name=".View.ViewH12Activity" />
        <activity android:name=".Animate.AnimateH1Activity" />
        <activity android:name=".Animate.AnimateH2Activity" />
        <activity android:name=".Animate.AnimateH3Activity" />
        <activity android:name=".Animate.AnimateH4Activity" />
        <activity android:name=".Animate.AnimateH5Activity" />
        <activity android:name=".Animate.AnimateH6Activity" />
        <activity android:name=".Animate.AnimateH7Activity" />
        <activity android:name=".Animate.AnimateH8Activity" />
        <activity android:name=".Animate.AnimateH9Activity" />
        <activity android:name=".Animate.AnimateH10Activity" />
        <activity android:name=".Animate.AnimateH11Activity" />
        <activity android:name=".Animate.AnimateH12Activity" />
        <activity android:name=".Animate.AnimateM1Activity" />
        <activity android:name=".Animate.AnimateM2Activity" />
        <activity android:name=".Animate.AnimateM3Activity" />
        <activity android:name=".Animate.AnimateM4Activity" />
        <activity android:name=".Animate.AnimateM5Activity" />
        <activity android:name=".Animate.AnimateM6Activity" />
        <activity android:name=".Animate.AnimateM7Activity" />
        <activity android:name=".Animate.AnimateM8Activity" />
        <activity android:name=".Animate.AnimateM9Activity" />
        <activity android:name=".Animate.AnimateM10Activity" />
        <activity android:name=".Animate.AnimateM11Activity" />
        <activity android:name=".Animate.AnimateM12Activity" />
        <activity android:name=".Animate.Animate1Activity" />
        <activity android:name=".Animate.Animate2Activity" />
        <activity android:name=".Animate.Animate3Activity" />
        <activity android:name=".Animate.Animate4Activity" />
        <activity android:name=".Animate.Animate5Activity" />
        <activity android:name=".Animate.Animate6Activity" />
        <activity android:name=".Animate.Animate7Activity" />
        <activity android:name=".Animate.Animate8Activity" />
        <activity android:name=".Animate.Animate9Activity" />
        <activity android:name=".Animate.Animate10Activity" />
        <activity android:name=".Animate.Animate11Activity" />
        <activity android:name=".Animate.Animate12Activity" />
        <activity android:name=".PassActivity" />
        <activity android:name=".BtnActivity.HardActivity" />
        <activity android:name=".Star.StarH16Activity" />
        <activity android:name=".Star.StarH15Activity" />
        <activity android:name=".Star.StarH14Activity" />
        <activity android:name=".Star.StarH13Activity" />
        <activity android:name=".Star.StarH12Activity" />
        <activity android:name=".Star.StarH11Activity" />
        <activity android:name=".Star.StarH10Activity" />
        <activity android:name=".Star.StarH9Activity" />
        <activity android:name=".Star.StarH8Activity" />
        <activity android:name=".Star.StarH7Activity" />
        <activity android:name=".Star.StarH6Activity" />
        <activity android:name=".Star.StarH5Activity" />
        <activity android:name=".Star.StarH4Activity" />
        <activity android:name=".Star.StarH3Activity" />
        <activity android:name=".Star.StarH2Activity" />
        <activity android:name=".Star.StarH1Activity" />
        <activity android:name=".Star.StarM16Activity" />
        <activity android:name=".Star.StarM15Activity" />
        <activity android:name=".Star.StarM14Activity" />
        <activity android:name=".Star.StarM13Activity" />
        <activity android:name=".Star.StarM12Activity" />
        <activity android:name=".Star.StarM11Activity" />
        <activity android:name=".Star.StarM10Activity" />
        <activity android:name=".Star.StarM9Activity" />
        <activity android:name=".Star.StarM8Activity" />
        <activity android:name=".Star.StarM7Activity" />
        <activity android:name=".Star.StarM6Activity" />
        <activity android:name=".Star.StarM5Activity" />
        <activity android:name=".Star.StarM4Activity" />
        <activity android:name=".Star.StarM3Activity" />
        <activity android:name=".Star.StarM2Activity" />
        <activity android:name=".Star.StarM1Activity" />
        <activity android:name=".Star.Star16Activity" />
        <activity android:name=".Star.Star15Activity" />
        <activity android:name=".Star.Star14Activity" />
        <activity android:name=".Star.Star13Activity" />
        <activity android:name=".Star.Star12Activity" />
        <activity android:name=".Star.Star11Activity" />
        <activity android:name=".Star.Star10Activity" />
        <activity android:name=".Star.Star9Activity" />
        <activity android:name=".Star.Star8Activity" />
        <activity android:name=".Star.Star7Activity" />
        <activity android:name=".Star.Star6Activity" />
        <activity android:name=".Star.Star5Activity" />
        <activity android:name=".Star.Star4Activity" />
        <activity android:name=".Star.Star3Activity" />
        <activity android:name=".Star.Star2Activity" />
        <activity android:name=".Star.Star1Activity" />
        <activity android:name=".BtnActivity.MiddleActivity" />
        <activity android:name=".BtnActivity.GuankaActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>